.pics{
    display: inline;
    height: auto;
    width: 100%;
    max-height: 600px;
    max-width: 100%;
    padding: 0px;
}

.carousel{
    max-width: 100%;
    max-height: 600px;
    height: auto;
    width: 100%;
    overflow: hidden;
    z-index: 1;
<<<<<<< HEAD
    display: block; 
    white-space: nowrap;  
=======
    display: block;
    white-space: nowrap;
    border-style: solid;
    border-color: black;
>>>>>>> 093d4d51f817c12aaedaad787ac1f6122feab691
    font-size: 0;
    padding: 0px;
}

.over{
    position: absolute;
    background: rgba(0,0,0,0);
    z-index: 2;
    padding: 0px;
}

.center-vertical{
    vertical-align: middle;
    text-align: center;
}

#buttonContainer{
    text-align: center;
}

.arrow-left{
    max-width: 20%;
    margin-left: 50%;
    opacity: 0.6;
}

.arrow-left:hover{
    opacity: 0.9;
}

.arrow-right{
    max-width: 20%;
    margin-right: 50%;
    opacity: 0.6;
}

.arrow-right:hover{
    opacity: 0.9;
}

.btn-choosen{
    display: inline;
    width: 2%;
    max-width: 2%;
    margin: 2px;
    opacity: 0.6;
}

.btn-choosen:hover{
    opacity: 0.9;
}
